<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.wohnzimmer" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>MeinWohnzimmer</name>
  <description>
        Temperatursensor :-)
    </description>
  <author email="info@sandrodesign.ch" href="http://sandrodesign/">
      Sandro Scalco
    </author>
  <content src="index.html"/>
  <access origin="*"/>

  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="Fullscreen" value="true" />
  <preference name="Orientation" value="portrait" />
  <preference name="phonegap-version" value="3.5.0" />

  <icon src="img/icon.png" />
  <icon src="img/icon.png" platform="ios" width="57" height="57" density="mdpi" />

  <platform name="ios">
                <!-- iOS 7.0+ -->
                <!-- iPhone / iPod Touch  -->
                <icon src="img/icon.png" width="60" height="60" />
                <icon src="img/icon.png" width="120" height="120" />
                <!-- iPad -->
                <icon src="img/icon.png" width="76" height="76" />
                <icon src="img/icon.png" width="152" height="152" />
                <!-- iOS 6.1 -->
                <!-- Spotlight Icon -->
                <icon src="img/icon.png" width="40" height="40" />
                <icon src="img/icon.png" width="80" height="80" />
                <!-- iPhone / iPod Touch -->
                <icon src="img/icon.png" width="57" height="57" />
                <icon src="img/icon.png" width="114" height="114" />
                <!-- iPad -->
                <icon src="img/icon.png" width="72" height="72" />
                <icon src="img/icon.png" width="144" height="144" />
                <!-- iPhone Spotlight and Settings Icon -->
                <icon src="img/icon.png" width="29" height="29" />
                <icon src="img/icon.png" width="58" height="58" />
                <!-- iPad Spotlight and Settings Icon -->
                <icon src="img/icon.png" width="50" height="50" />
                <icon src="img/icon.png" width="100" height="100" />
       </platform>


  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

</widget>