<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.oneexpense587603" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>MeinWohnzimmer</name>
  <description>
        Temperatursensor :-)
    </description>
  <author email="info@sandrodesign.ch" href="http://sandrodesign/">
      Sandro Scalco
    </author>
  <content src="index.html"/>
  <access origin="*"/>

  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="Fullscreen" value="true" />
  <preference name="Orientation" value="portrait" />
  <preference name="phonegap-version" value="3.5.0" />

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

</widget>