<ion-view title="Messwerte CH">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-click="openMap()">
      Karte
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefreshMesswerte()">
    </ion-refresher>
    <!-- <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
      <button class="button button-clear">
        Cancel
      </button>
    </div>-->
    <div>
      <p>Messdaten vom {{datum}} / {{uhrzeit}}</p>
    </div>

    <ion-list>
      <!--<ion-item ng-repeat="item in wetterdaten_schweiz">-->

        <a class="item"  ng-repeat="item in wetterdaten_schweiz" href="#/tab/schweiz/{{item.stn}}">
          {{item.station.name}}
          <span class="item-note">
            {{item.station.hoehe}} M.ü.M.
          </span>



        </a>
        <!--
        Lufttemperatur °C:        {{item.tre200s0}}
        Windrichtung °:           {{item.dkl010z0}}
        Windgeschwindigkeit km/h  {{item.fu3010z0}}
        Sonnenscheindauer min:    {{item.sre000z0}}
        Niederschlag mm:          {{item.rre150z0}}


        Parameter:
        ----------
        Einheit                  Beschreibung
        tre200s0                 °C                       Lufttemperatur 2 m über Boden; Momentanwert
        sre000z0                 min                      Sonnenscheindauer; Zehnminutensumme
        rre150z0                 mm                       Niederschlag; Zehnminutensumme
        dkl010z0                 °                        Windrichtung; Zehnminutenmittel
        fu3010z0                 km/h                     Windgeschwindigkeit; Zehnminutenmittel
        pp0qnhs0                 hPa                      Luftdruck reduziert auf Meeresniveau mit Standardatmosphäre (QNH); Momentanwert
        fu3010z1                 km/h                     Böenspitze (Sekundenböe); Maximum
        ure200s0                 %                        Relative Luftfeuchtigkeit 2 m über Boden; Momentanwert
        prestas0                 hPa                      Luftdruck auf Stationshöhe (QFE); Momentanwert
        pp0qffs0                 hPa                      Luftdruck reduziert auf Meeresniveau (QFF); Momentanwert
      -->
  <!--  </ion-item>-->
    </ion-list>
  </ion-content>
</ion-view>
