<ion-view title={{station.name}}>

  <ion-content>

    <div class="list card">
      <div class="item">
        {{station.wetterdaten.tre200s0}} °C
        <span class="item-note">Lufttemperatur 2 m über Boden; Momentanwert</span>
      </div>
      <div class="item">
        {{station.wetterdaten.sre000z0}} min
        <span class="item-note">Sonnenscheindauer; Zehnminutensumme</span>
      </div>
      <div class="item">
        {{station.wetterdaten.rre150z0}} mm
        <span class="item-note">Niederschlag; Zehnminutensumme</span>
      </div>
      <div class="item">
        {{station.wetterdaten.dkl010z0}} °
        <span class="item-note">Windrichtung; Zehnminutenmittel</span>
      </div>
      <div class="item">
        {{station.wetterdaten.fu3010z0}} km/h
        <span class="item-note">Windgeschwindigkeit; Zehnminutenmittel</span>
      </div>
      <div class="item">
        {{station.wetterdaten.pp0qnhs0}} hPa
        <span class="item-note">Luftdruck reduziert auf Meeresniveau mit Standardatmosphäre (QNH); Momentanwert</span>
      </div>
      <div class="item">
        {{station.wetterdaten.fu3010z1}} km/h
        <span class="item-note">Böenspitze (Sekundenböe); Maximum</span>
      </div>
      <div class="item">
        {{station.wetterdaten.ure200s0}} %
        <span class="item-note">Relative Luftfeuchtigkeit 2 m über Boden; Momentanwert</span>
      </div>
      <div class="item">
        {{station.wetterdaten.prestas0}} hPa
        <span class="item-note">Luftdruck auf Stationshöhe (QFE); Momentanwert</span>
      </div>
      <div class="item">
        {{station.wetterdaten.pp0qffs0}} hPa
        <span class="item-note">Luftdruck reduziert auf Meeresniveau (QFF); Momentanwert</span>
      </div>

      <div id="osmap"></div>
      <!--<div class="item item-image" id="map"></div>-->
    </div>

  </ion-content>
</ion-view>
